# dependencies
node_modules

# local env files
.env

# react-router
.react-router

# wrangler
.wrangler

# production
/build

# typescript
*.tsbuildinfo

# debug
npm-debug.log*

# misc
.DS_Store
*.pem
